@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextaccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TwitterClone_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid body-content bg-light p-4 w-75">
        
        @{
           
            if (httpContextaccessor.HttpContext.Request.Cookies["Auth"] == null)
            {


            }
            else
            {

                @Html.Partial("_PartialNavBar")
                }
            }


        <br />
        
        @RenderBody()
    
        <br />
        <footer class="border-top text-center mt-4 p-3">
                <p>&copy; 2022 - Twitter Clone - Information Systems</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
